/* TODO(you): Write the CSS to finish the assignment! */
body {
  font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  color: #222222;
  margin: 0px auto;
  max-width: 700px;
}

/* ____________ Style for header ____________ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
  border-bottom: 1px solid #ccc;
}

header div {
  margin: 20px 0px;
}

#course-name {
  font-family: 'Helvetica', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #ee3322;
}

.stack-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #ffee00;
  transform: rotate(330deg);
}

/* ____________ End style for header ____________ */

/* ____________ Style for Quiz Name ____________ */
#quiz-name {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 425px;
  position: relative;
}

#quiz-name h1 {
  font-family: 'Pangolin', 'Trebuchet MS', cursive;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 60px;
  line-height: normal;
  padding: 10px;
}

/* ____________ End Style for Quiz Name ____________ */

/* ____________ Style for Introduction ____________ */
#introduction {
  margin-top: 18px;
}

#author {
  font-size: 14px;
  text-align: center;
}

#introduction p {
  display: block;
  margin: 18px 0px;
}

/* ____________ End Style for Introduction ____________ */

/* ____________ Style for Box start, Boxes and Buttons ____________ */
.boxes {
  background-color: #f1f1f1;
  border: 1px solid #dcdcdc;
}

.btn {
  cursor: pointer;
  color: #F8F6DA;
  border: 0;
}

.btn-blue {
  background-color: #2196F3;
}

.btn-blue:hover {
  background-color: #0d8bf2;
}

.btn-green {
  background-color: #4CAF50;
}

.btn-green:hover {
  background-color: #46a049;
}

#box-start {
  margin-top: 36px;
  text-align: center;
}

#box-start-header {
  padding: 18px 0px;
}

#btn-start {
  margin: 18px 0px;
  padding: 18px 12px;
}

/* ____________ End Style for Box start, Boxes and Buttons ____________ */

/* ____________ Style for Attemp Quiz ____________ */
span.question-text {
  font-size: 14px;
}

ul.option-container {
  list-style: none;
  padding: 0;
}

li.option {
  padding: 15px 0px;
}

li.option.un-selected {
  background-color: #f1f1f1;
}

li.option.selected,
li.option.un-selected:hover {
  background-color: #ddd;
}

li.option input[type="radio"] {
  margin: 0px 8px 0px 15px;
}

/* ____________ End Style for Attemp Quiz ____________ */